<% content_for :title do %>
  プロフィール編集
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>プロフィール編集</h1>
    
      <%= form_with model: @user, local: true, url: profile_path, method: :patch do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :Avatar %><br />
            <%= f.file_field :Avatar, class: 'form-control mb-3', accept: 'image/*' %>
            <%= f.hidden_field :Avatar_cache %> 
          </div>

          <div class="actions">
            <%= f.submit (t 'defaults.update'), class: 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>